<h2 class="pageTitle display-4">About</h2>
<p>Finances are an important component of life management.</p>
<p>This tool is designed to help you track, manage, and find success in your personal finances!<p>
