<div class="page_title_div">
  <h2 class="pageTitle display-4">About</h2>
</div>
<p>Finances are an important component of life management.</p>
<p>This tool is designed to help you track, manage, and find success in your personal finances!<p>
