<h2 class="pageTitle display-4">Financial Component</h2>

<!--<form id="loginform" name="loginform" method="post">-->
    <input id="email" maxlength="2048" value="Email" class="form-control" onblur="if(this.value == '') { this.value = 'Email'; }" onfocus="if(this.value == 'Email') { this.value = ''; }" style=color:#808080 aria-label="Email" autofocus="false" tabindex="1" />

    <input id="pwd" maxlength="2048" value="Password" class="form-control" onblur="if(this.value == '') { this.value = 'Password'; }" onfocus="if(this.value == 'Password') { this.value = ''; }" style=color:#808080 aria-label="Password" autofocus="false" tabindex="2" />

    <div id="loginprompts">
        <a id="forgot-password">Forgot your password?</a>
        &bull;
        <a id="resend-confirmation">Resend email confirmation</a>
    </div>

    <div id="loginValidation" class="text-danger">
        <span asp-validation-for="Input.Email" class="text-danger"></span>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>

    <div id="loginButtons">
        <input id="submitLogin" value="Log In" tabindex="3" type="submit" />
        <input id="registerBtn" value="Register" tabindex="4" type="button" />
    </div>
<!--</form-->