<%if flags == 2%>
  <div class="div_spacing text-danger" id="login_alert"><%=alert%></div>
  <%if email_exists == 2 %>     
    <script>
      $('#fcModal_2_Body').text("There is already an account associated with this email address.");
      $('#fcModal_2').modal("show");
      $("#fcModal_2").on('hide.bs.modal', function(){
        window.location = "/sign_up";
      });
    </script>
  <%else%>
    <script>
      var x = document.getElementById("mobile_box");

      if (x.value != undefined){
          event.preventDefault();
    
          const recipient = phoneInput.getNumber();
          $.ajax({
                        beforeSend: function(xhr) {
                        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
                      },
                    url: "/validate_mobile_for_edit",
                    type: "POST",
                    data: {
                        recipient: recipient}
                  });
            };
    </script>
  <%end%>
<%else%>
  <%if email_exists == nil %>     
    <div class="div_spacing text-danger" id="login_alert"><%=alert%></div>
  <%elsif email_exists == 1%>
    <div class="div_spacing text-danger" id="login_alert">There is no account associated with this email.</div>
  <%else%>
    <div class="div_spacing text-danger" id="login_alert"><%=alert%></div>
    <script>
      window.location = "/forgot_password"
    </script>
  <%end%>
<%end%>