<%if verification_stage == nil %>     
  <p>A verification code was sent to the e-mail associated with this account. Please enter the code below to reset your password.</p>
  <p>To send a new code, please click <a href="/forgot_password">click here.</a></p>

  <form id="validate_password_reset" onsubmit="process(document.getElementById('codeInput').value)">
  <!--<form action="/validate_password_reset" method="post">-->
    <div class="mb-3">
      <label for="codeInput" class="form-label">Verification Code</label>
      <input name="daCode" type="text" class="form-control" id="codeInput" aria-describedby="codeHelp" placeholder="Insert Code" required>    
      <div id="codeHelp" class="form-text">The verification code was texted to the number provided.</div>
    </div>
    <button type="submit" class="btn btn-primary">Verify Code</button>
  </form>
<%else%>
  <%if password_reset_status == nil %>
    <p>The code entered does not match the code provided. Please request another verification code <a href="/forgot_password">here</a>.</p>
  <%else%>
    <div>
      <form action="/update_password" method="post">
        <div>
          <label for="password_box">Password</label>
          <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
        </div>
      
        <div>
          <label for="password_confirmation_box">Password Confirmation</label>
          <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
        </div>

        <button>
          Update account
        </button>
      </form>
    </div>
  <%end%>
<%end%>