<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/css/intlTelInput.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
</head>

<div class="page_title_div">
  <h2 class="pageTitle display-4">Add Mobile</h2>
</div>

<div id="twilio_verification">
  <%= render partial: "user_authentication/twilio_verification.html.erb", locals: {verification_stage: @verification_stage} %>
</div>

<div class="div_spacing text-success" id="login_notice"><%=notice%></div>
<div class="div_spacing text-danger" id="login_alert"><%=alert%></div>

<script type="text/javascript" src="/javascript/add_mobile.js"></script>