<div class="page_title_div">
  <h2 class="pageTitle display-4">Add Email</h2>
</div>

<div class="container">
  <form id="editEmail" action="" method="post">
      <label for="email_box" class="col-sm-4 col-form-label <!--border-bottom--> p-3">Please insert your email below</label>
      <div class="col-sm-4 border-bottom p-3">
        <input type="text" class="form-control-plaintext bg-light" id="email_box" name="query_email" placeholder="Email">
      </div>
      <div class="col-sm-6"></div>

    <div class="col-sm-12 p-3">
      <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </div>
  </form>
</div>

<div class="modal fade" id="fcModal_1" tabindex="-1" aria-labelledby="fcModal_1_Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fcModal_1_Label">Financial Component Add Email</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="fcModal_1_Body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="email_verification">
  <%= render partial: "user_authentication/email_verification.html.erb", locals: {email_exists: @email_exists, flags: @flags} %>
</div>

<script type="text/javascript" src="/javascript/add_email.js"></script>