<div class="page_title_div">
  <h2 class="pageTitle display-4">Edit User Account</h2>
</div>

<div class="container">
  <form action="/modify_user" method="post">
    <div class="row mb-3">
      <label for="first_name_box" class="col-sm-2 col-form-label border-bottom p-3">First Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control-plaintext border-bottom p-3" id="first_name_box" name="query_first_name" value="<%= @current_user.first_name %>">
      </div>
        
      <label for="last_name_box" class="col-sm-2 col-form-label border-bottom p-3">Last Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control-plaintext border-bottom p-3" id="last_name_box" name="query_last_name" value="<%= @current_user.last_name %>">
      </div>

      <label for="email_box" class="col-sm-2 col-form-label border-bottom p-3">Email</label>
      <div class="col-sm-10">
        <input type="text" class="form-control-plaintext border-bottom p-3" id="email_box" name="query_email" value="<%= @current_user.email %>">
      </div>

      <label for="password_box" class="col-sm-2 col-form-label border-bottom p-3">Password</label>
      <div class="col-sm-10">
        <input type="text" class="form-control-plaintext border-bottom p-3" id="password_box" name="query_password" placeholder="Choose a password..." type="password">
      </div>

      <label for="mobile_box" class="col-sm-2 col-form-label border-bottom p-3">Mobile</label>
      <div class="col-sm-10">
        <%if @current_user.mobile == nil%>
          <a href="/settings/add_mobile">Add</a>
        <%else%>
          <input type="text" class="form-control-plaintext border-bottom p-3" id="mobile_box" name="query_mobile" value="<%= @current_user.mobile %>">
        <%end%>
      </div>
    </div>
  </form>
</div>
    