<div class="page_title_div">
<h2 class="pageTitle display-4">Forgot Password</h2>
</div>

<div class="container">
  <form id="forgotPassword" action="/reset_password" method="post">
      <label for="email_box" class="col-sm-6 col-form-label p-3">Please insert the email associated with your account below</label>
      <div class="col-sm-6 border-bottom p-3">
        <input type="text" class="form-control-plaintext bg-light" id="email_box" name="email" placeholder="Email" style="padding:0px 8px;" onfocus="$('#change_password_alert').text('');">
      </div>
      <div class="col-sm-6"></div>

    <div class="col-sm-12 p-3">
      <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </div>
  </form>
</div>

<div class="div_spacing text-success" id="change_password_notice"><%=notice%></div>
<div class="div_spacing text-danger" id="change_password_alert"><%=alert%></div>

<script type="text/javascript" src="/javascript/forgot_password.js"></script>