<div class="page_title_div">
<h2 class="pageTitle display-4">Password Reset</h2>
</div>

<div id="password_reset_verification">
  <%= render partial: "user_authentication/password_reset_verification.html.erb", locals: {verification_stage: @verification_stage} %>
</div>

<script>
  function process(item){
      event.preventDefault();
      //alert("test");
      $.post('/validate_password_reset', { code: item});
  };
 </script>