<div class="page_title_div">
<h2 class="pageTitle display-4">Password Reset</h2>
</div>

<div id="password_reset_verification">
  <%= render partial: "user_authentication/password_reset_verification.html.erb", locals: {verification_stage: @verification_stage} %>
</div>

<script>
  function process(item){
      event.preventDefault();
      //alert("test");
      $.post('/validate_password_reset', { code: item});
  };
  
  function password_show_hide(this_id) {
    if (this_id === "basic-addon2") {
      var x = document.getElementById("password_box");
      var show_eye = document.getElementById("show_eye");
      var hide_eye = document.getElementById("hide_eye");
    } else {
      var x = document.getElementById("password_confirmation_box");
      var show_eye = document.getElementById("show_eye_2");
      var hide_eye = document.getElementById("hide_eye_2");
    };

    hide_eye.classList.remove("d-none");
    if (x.type === "password") {
      x.type = "text";
      show_eye.style.display = "none";
      hide_eye.style.display = "block";
    } else {
      x.type = "password";
      show_eye.style.display = "block";
      hide_eye.style.display = "none";
    }
  }
 </script>