<div class="page_title_div">
  <h2 class="pageTitle display-4">Financial Component</h2>
</div>

<form id="signin" action="/process_login_form" method="post">
  <label for="email_box"></label>
  <input type="text" class="form_textbox form-control" id="email_box" name="query_email" placeholder="Email" onblur: "if(this.value == '') { this.value = 'Email'}", onfocus: "if(this.value == 'Email') {this.value = ''};">

  <label for="password_box"></label>
  <input class="form_textbox form-control" id="password_box" name="query_password" placeholder="Password" type="password" aria-label="Password" aria-describedby="basic-addon2" onblur: "if(this.value == '') { this.value = 'Password'; }", onfocus: "if(this.value == 'Password') { this.value = ''};">
  <div class="form_prompts">
        <a id="forgot_password_link" href="/forgot_password">Forgot your password?</a>
  </div>
  <br>
  <button type="submit" class="form_button" name="subject" value="Log In">Log In</button>
  <button type="submit" class="form_button" name="subject" value="Register">Register</button>
</form>

<div class="div_spacing text-success" id="login_notice"><%=notice%></div>
<div class="div_spacing text-danger" id="login_alert"><%=alert%></div>

<script type="text/javascript" src="/javascript/signin.js"></script>