<head>
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/css/intlTelInput.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
</head>

<div class="page_title_div">
  <h2 class="pageTitle display-4">Financial Component Registration</h2>
</div>

<div class="container">
  <form id="User" action="/create_user" method="post">
    <div class="row mb-3">
      <label for="first_name_box" class="col-sm-2 col-form-label border-bottom p-3">First Name</label>
      <div class="col-sm-4 border-bottom p-3">
        <input type="text" class="form-control-plaintext bg-light" id="first_name_box" name="query_first_name" placeholder="First Name">
      </div>
      <div class="col-sm-6"></div>
        
      <label for="last_name_box" class="col-sm-2 col-form-label border-bottom p-3">Last Name</label>
      <div class="col-sm-4 border-bottom p-3">
        <input type="text" class="form-control-plaintext bg-light" id="last_name_box" name="query_last_name" placeholder="Last Name">
      </div>
      <div class="col-sm-6"></div>

      <label for="email_box" class="col-sm-2 col-form-label border-bottom p-3">Email</label>
      <div class="col-sm-4 border-bottom p-3">
        <input type="text" class="form-control-plaintext bg-light" id="email_box" name="query_email" placeholder="Email">
      </div>
      <div class="col-sm-6"></div>

      <label for="password_box" class="col-sm-2 col-form-label border-bottom p-3">Password</label>
      <div class="col-sm-4 border-bottom p-3">
        <div class="input-group input-group-sm">
          <input class="form-control-plaintext bg-light" id="password_box" name="query_password" placeholder="Choose a password..." type="password" aria-label="Password" aria-describedby="password_box_toggle">
          <span class="input-group-text" id="password_box_toggle" onclick="password_show_hide(this.id);">
            <i class="fas fa-eye" id="show_eye"></i>
            <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
          </span>
        </div>
      </div>
      <div class="col-sm-6"></div>

      <label for="password_confirmation_box" class="col-sm-2 col-form-label border-bottom p-3">Password Confirmation</label>
      <div class="col-sm-4 border-bottom p-3">
        <div class="input-group input-group-sm">
          <input class="form-control-plaintext bg-light" id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm Password" type="password" aria-label="password_confirmation" aria-describedby="password_confirmation_toggle" onblur="password_validation()" onfocus="$('#login_alert').text('');">
          <span class="input-group-text" id="password_confirmation_toggle" onclick="password_show_hide(this.id);">
            <i class="fas fa-eye" id="show_eye_2"></i>
            <i class="fas fa-eye-slash d-none" id="hide_eye_2"></i>
          </span>
        </div>
      </div>
      <div class="col-sm-6"></div>      

      <label for="mobile_box" class="col-sm-2 col-form-label border-bottom p-3">Mobile</label>
      <div class="col-sm-4 border-bottom p-3">
          <input type="tel" class="form-control-plaintext bg-light" id="mobile_box" name="query_mobile" placeholder="000 000 0000">
      </div>
      <div class="col-sm-6"></div>
    </div>

    <div class="div_spacing text-success"><%=notice%></div>
    <div class="div_spacing text-danger" id="login_alert"><%=alert%></div>

    <div class="form_prompts">
        <a href="/sign_in">Sign in with existing account</a>
    </div>

    <div class="col-sm-12 p-3">
      <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </div>
  </form>
</div>

<div class="modal fade" id="fcModal_1" tabindex="-1" aria-labelledby="fcModal_1_Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fcModal_1_Label">Financial Component Add User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="fcModal_1_Body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="email_verification">
  <%= render partial: "user_authentication/email_verification.html.erb", locals: {email_exists: @email_exists, flags: @flags} %>
</div>

<div id="twilio_verification">
  <%= render partial: "user_authentication/twilio_verification.html.erb", locals: {verification_stage: @verification_stage, flags: @flags} %>
</div>

<script type="text/javascript" src="/javascript/signup.js"></script>