<div class="page_title_div">
  <h2 class="pageTitle display-4">My Profile</h2>
</div>

<div class="container">
  <div class="row g-2 g-lg-3">
    <div class="col-2 border-bottom">
      <div class="p-3">Name</div>
    </div>
    <div class="col-3 border-bottom">
      <div class="p-3"><%=@current_user.first_name + " " + @current_user.last_name%></div>
    </div>
    <div class="col-1 border-bottom">
      <div class="p-2">
        <!--<button type="button" class="btn btn-link btn-sm" id="editName">Edit</button>-->
      </div>
    </div>
    <div class="col-6">
    </div>

    <div class="col-2 border-bottom">
      <div class="p-3">Email</div>
    </div>
    <div class="col-3 border-bottom">
      <%if @current_user.email == nil %>
        <div class="p-3">
          <a href="/settings/add_email">Add</a>
        </div>
      <%elsif @current_user.email == "" %>
        <div class="p-3">
          <a href="/settings/add_email">Add</a>
        </div>
      <%else%>
        <div class="p-3">
          <%=@current_user.email%>
        </div>
      <%end%>
    </div>
    <div class="col-1 border-bottom">
        <%if @current_user.email_verified_at == nil%>
          <div class="p-3"><a href="/verify_email">Verify</a></div>
        <%end%>
        <!--
        <div class="p-2">
        <button type="button" class="btn btn-link btn-sm" id="editEmail">Edit</button>
      </div>-->
    </div>
    <div class="col-6">
    </div>

    <div class="col-2 border-bottom">
      <div class="p-3">Password</div>
    </div>
    <div class="col-4 border-bottom">
      <div class="p-3"><a href="change_password">Change</a></div>
    </div>
    <div class="col-5">
    </div>

    <div class="col-2 border-bottom">
      <div class="p-3">Mobile</div>
    </div>
    <div class="col-3 border-bottom">
      <div class="p-3">
        <%if @current_user.mobile == nil%>
        <div class="p-3">
          <a href="/settings/add_mobile">Add</a>
        </div>
        <%else%>
          <%=@current_user.mobile%>
        <%end%>
      </div>
    </div>
    <div class="col-1 border-bottom">
      <div class="p-2">
        <%if @current_user.mobile_verified_at == nil%>
          <div class="p-3"><a href="/verify_mobile">Verify</a></div>
        <%end%>
        <!--
          <div class="p-2">
          <button type="button" class="btn btn-link btn-sm" id="editMobile">Edit</button>
        </div>-->
      </div>
    </div>
    <div class="col-6">
    </div>

    <div class="col-2">
      <div class="p-3">
        <button type="button" class="btn btn-link btn-sm" id="editProfile">Edit</button>
        <button type="button" class="btn btn-link btn-sm" id="deleteProfile">Delete</button>
      </div>
    </div>
    <div class="col-3">
    </div>
    <div class="col-1">
    </div>
    <div class="col-6">
    </div>
</div>

<div class="modal fade" id="fcModal_1" tabindex="-1" aria-labelledby="fcModal_1_Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="fcModal_1_Label">Financial Component Delete Account</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="fcModal_1_Body">
          <p>Are you sure you would like to delete this user account?</p>
          <p>All associated settings and transactions will be deleted from Financial Component.</p>
          <p>Please click Delete to delete or Cancel to cancel this request.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="confirmDelete">Delete</button>  
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

<script>
  $(document).ready(function(){      
    $("#editProfile").click(function(){
      window.location = "/edit_user_profile";
    });
    $("#deleteProfile").click(function(){
      $('#fcModal_1').modal("show");
    });
    $("#confirmDelete").click(function(){
      window.location = "/cancel_user_account";
    });
  });
</script>